
<h2 class="title">Create New Post</h2>

<form class="article new-post-form">
  
  <div>
    <label for="post-title">Title</label>
    <input type="text" id="post-title" name="post-title" />
  </div>
  <div>
    <label for="post-url">Content</label>
    <textarea id="post-url" name="post-url"> </textarea>
  </div>
  <button type="submit" class="btn">Create</button>
</form>

<script src="/javascript/add-post.js"></script>